@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--themeColor: #7ecc3c;
	--lightParagraph: #808080;
}

html {
	font-size: 62.5%;
	width: 100%;
}

/* MEDIA QUERIES FONT SIZE START */
@media screen and (max-width: 1000px) {
	html {
		font-size: 60%;
	}
}

@media screen and (max-width: 700px) {
	html {
		font-size: 58%;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 54%;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 300px) {
	html {
		font-size: 48%;
	}
}

@media screen and (max-width: 250px) {
	html {
		font-size: 46%;
	}
}
/* MEDIA QUERIES FONT SIZE END */

body {
	width: 100%;
	overflow-x: hidden;
}

/* ==================== GLOBAL CLASSES START ======================== */
.G_btn {
	border: none;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	background-color: var(--themeColor);
	padding: 12px 24px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.G_btn span {
	position: relative;
	z-index: 1;
}

.G_btn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 490%;
	width: 180%;
	background: #70b633;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
	transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.G_btn:hover:after {
	-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
	transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.heading_underline {
	border-bottom: 4px solid var(--themeColor);
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.loader {
	background: #000;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ==================== GLOBAL CLASSES END ======================== */

/* ==================== NAVBAR STYLING START ======================== */
@media screen and (min-width: 1200px) {
	.NavbarBelowContainer {
		max-width: 1140px;
	}
}

.NavbarBelowContainer {
	max-width: 100px;
}

.NavbarContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.7s;
	z-index: 10000;
	padding: 0.2rem 1.5rem;
	border-bottom: 1px solid #707070;
	-webkit-animation: swing-in-top-fwd 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
	animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.NavbarContainer img {
	height: 4.2rem;
	margin-left: 1rem;
	cursor: pointer;
	-webkit-animation: scale-up-hor-center 0.6s
		cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: scale-up-hor-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.NavbarContainer ul {
	margin-bottom: 0;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.7s;
}

.NavbarContainer ul li {
	position: relative;
	list-style-type: none;
	transition: 0.7s;
}

.NavbarContainer ul li {
	font-size: 1.3rem;
	font-weight: 60rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	transition: 0.7s;
	cursor: pointer;
	height: 100%;
	height: 57px;
	padding: 20px 16px;
	border-left: 0.1px solid #707070;
}

.NavbarContainer ul li a {
	text-decoration: none;
	padding: 3px 8px;
}

.NavbarContainer ul li {
	background-color: transparent;
	-webkit-box-shadow: 0 0 1.25rem rgb(108 118 134 / 10%);
	box-shadow: 0 0 1.25rem rgb(108 118 134 / 10%);
	position: relative;
	z-index: 1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.NavbarContainer ul li::before {
	top: 50%;
	left: 50%;
	width: 0%;
	z-index: -1;
	height: 100%;
	content: "";
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--themeColor);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.NavbarContainer ul li:hover::before {
	width: 100%;
}

.activeNav {
	color: white;
	background-color: var(--SubThemeC2);
	border-radius: 6px;
	transition: 1s;
	text-decoration: none;
}

.activeNav:hover {
	color: white;
}

.NavbarContainer.sticky {
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
	position: fixed;
	margin-top: 0rem;
	background-color: rgb(22, 22, 22) !important;
	padding: 0rem 1.5rem;
}

.NavbarContainer.sticky ul li {
	padding: 16px;
}

.NavbarContainer.sticky ul li {
	color: white;
}

/* .NavbarContainer.sticky ul li .activeNav {
	border-bottom: 2px solid white;
} */

.HideClass {
	display: none;
}

.NavbarContainer .navbar-toggler {
	padding: 2px 30px;
}

.NavbarContainer .menu-btn {
	vertical-align: middle;
}

.NavbarToggleBtn {
	display: none;
}

.NavbarContainer .menu-btn .line {
	width: 25px;
	height: 2px;
	background-color: #ffffff;
	display: block;
	margin: 7px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 2.5rem 5rem;
	}
}

@media screen and (max-width: 1024px) {
	.NavbarContainer {
		padding: 2.5rem 2rem;
	}

	.NavbarContainer.sticky {
		padding: 1.4rem 2rem !important;
	}
}

@media screen and (max-width: 900px) {
	.NavbarContainer.sticky {
		background-color: var(--MainThemeC);
	}
	.HideClass {
		display: block;
	}
	.NavbarContainer.sticky .HideClass i {
		color: white;
	}
	.NavbarContainer.sticky h1 {
		color: white;
	}
}

@media screen and (max-width: 800px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 2rem 1rem;
	}
}

@media screen and (max-width: 1100px) {
	.NavbarToggleBtn {
		display: block;
	}
	.NavbarContainer ul {
		display: none;
	}
}

/* ==================== NAVBAR STYLING END ======================== */

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: white;
	font-size: 3.5rem;
	background-color: black;
	height: 100vh;
	padding: 0rem 8rem;
	z-index: 11111;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	margin-bottom: 5rem;
	cursor: pointer;
	padding: 0.4rem 1.5rem;
	border-radius: 6px;
}

.SideBarContainer ul li:before,
.SideBarContainer ul li:hover:before {
	transform: scaleY(1);
	width: 100%;
}

.SideBarContainer ul li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	background-color: var(--themeColor);
	transform: scaleY(0);
	transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
		background-color 0.2s;
	transform-origin: bottom;
	z-index: -1;
}

.SideBarContainer ul li {
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.CrossBTn {
	position: absolute;
	top: 3.2%;
	right: 5.5%;
	cursor: pointer;
}
/* ==================== SideBAR STYLING END ======================== */

/* ==================== HOME STYLING START ======================== */
.home_container {
	background: url(./assets/images/heroimg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.home_container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home_container .home_body {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

.home_container .home_body .home_body_inner {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.home_body_inner h1 {
	font-size: 4.2rem;
}

.home_body_inner h4 {
	font-size: 1.8rem;
}

/* ==================== HOME STYLING END ======================== */

/* ==================== ABOUT US STYLING START ======================== */
.about_container {
	padding: 20rem 0rem;
	margin: auto;
	display: flex;
	max-width: 1000px;
}

.about_container .rightSide_text {
	width: 50%;
	margin-right: 40px;
}

.about_container .rightSide_text h1 {
	font-size: 3rem;
}

.about_container .rightSide_text h4 {
	line-height: 20px;
	color: var(--lightParagraph);
}

.about_container .about_img {
	width: 50%;
}

.about_container .about_img img {
	height: auto;
	width: 100%;
}
/* ==================== ABOUT US STYLING END ======================== */

/* ==================== SERVICES STYLING START ======================== */
.service_container {
	text-align: center;
	margin: auto;
	padding-bottom: 20rem;
	max-width: 1000px;
}

.service_container h1 {
	font-size: 3rem;
	margin-bottom: 1.8rem;
}

.service_container h5 {
	font-size: 1.3rem;
	max-width: 750px;
	margin: auto;
	color: var(--lightParagraph);
}

.service_container .main_slider_container {
	text-align: -webkit-center;
	width: 100%;
	margin: auto;
	max-width: 1000px;
}
/* ==================== SERVICES STYLING END ======================== */

/* ==================== SERVICE CARD STYLING START ======================== */
.serviceCard_container {
	max-width: 92%;
	border-radius: 8px;
	text-align: center;
	box-shadow: 1px 1px 20px #e9e9e9;
	border: 1px solid #ebebeb;
}

.serviceCard_container .img_container img {
	height: auto;
	width: 100%;
}

.serviceCard_container .body_text {
	padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.service_container .rPadding {
	padding: 2.5rem 1.1rem 1rem 1.1rem;
}

.serviceCard_container .body_text h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.serviceCard_container .body_text h6 {
	font-size: 1.2rem;
	color: var(--lightParagraph);
	line-height: 1.8rem;
}

.serviceCard_container .body_text button {
	border: none;
	display: flex;
	align-items: center;
	margin: 1.5rem auto;
	background-color: transparent;
	transition: 0.5s all;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.serviceCard_container .body_text button:hover {
	color: var(--themeColor);
}

.serviceCard_container .body_text button span:nth-child(1) {
	font-size: 1.3rem;
	margin-right: 1rem;
}

/* ==================== SERVICE CARD STYLING END ======================== */

/* ==================== SLICK SLIDER STYLING START ==================== */
.slick-prev:before,
.slick-next:before {
	font-size: 28px !important;
	opacity: 0.75 !important;
	color: #c4c4c4 !important;
}

.slick-dots {
	bottom: -40px !important;
}

.slick-dots li button:before {
	font-size: 10px !important;
}

.slick-dots li {
	margin: 0px !important;
}

.slick-dots li.slick-active button:before {
	color: #000000cf !important;
}

.slick-dots li button:before {
	color: #3e3e3e;
}
/* ==================== SLICK SLIDER STYLING END ==================== */

/* ==================== MANUFACTURING STYLING START ==================== */
.manufacturing_container {
	text-align: center;
	margin: auto;
	padding-bottom: 20rem;
	max-width: 1000px;
}

.manufacturing_container h5 {
	margin: auto;
	max-width: 660px;
	text-align: start;
	color: var(--lightParagraph);
}

.manufacturing_container .main_slider_container {
	text-align: -webkit-center;
	width: 100%;
	margin: auto;
	max-width: 1000px;
}

/* ==================== MANUFACTURING STYLING END ==================== */

/* ==================== MANUFACTURING CARD STYLING START ==================== */
.manufacturingCard_container {
	max-width: 92%;
	border-radius: 8px;
	text-align: center;
	box-shadow: 1px 1px 20px #e9e9e9;
	border: 1px solid #ebebeb;
	border-radius: 0px 50px;
}

.manufacturingCard_container .img_container img {
	height: auto;
	width: 100%;
	padding: 20px;
}

.manufacturingCard_container .body_text {
	padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.service_container .rPadding {
	padding: 2.5rem 1.1rem 1rem 1.1rem;
}

.manufacturingCard_container .body_text h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.manufacturingCard_container .body_text h6 {
	font-size: 1.2rem;
	color: var(--lightParagraph);
	line-height: 1.8rem;
}

.manufacturingCard_container .body_text button {
	border: none;
	display: flex;
	align-items: center;
	margin: 1.5rem auto;
	background-color: transparent;
	transition: 0.5s all;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.manufacturingCard_container .body_text button:hover {
	color: var(--themeColor);
}

.manufacturingCard_container .body_text button span:nth-child(1) {
	font-size: 1.3rem;
	margin-right: 1rem;
}
/* ==================== MANUFACTURING CARD STYLING END ==================== */

/* ==================== DELIVERY DETAILS STYLING START ==================== */
.deliveryDetails_container {
	margin: auto;
	padding-bottom: 15rem;
	max-width: 1000px;
	display: flex;
}

.deliveryDetails_container .left_side {
	width: 50%;
	margin-right: 20px;
}

.deliveryDetails_container .left_side h1,
.deliveryDetails_container .right_side h1 {
	font-size: 2.2rem;
}

.deliveryDetails_container .right_side h1,
.deliveryDetails_container .right_side h5 {
	text-align: center;
}

.deliveryDetails_container .left_side h5,
.deliveryDetails_container .right_side h5 {
	color: var(--lightParagraph);
	font-size: 1.4rem;
}

.deliveryDetails_container .right_side {
	width: 50%;
	margin-left: 20px;
}
/* ==================== DELIVERY DETAILS STYLING END ==================== */

/* ==================== EXAMPLE STYLING START ==================== */
.examples_container {
	background-color: #f0f0f0;
}

.examples_container .innerExamples_container {
	margin: auto;
	padding: 10rem 0px;
	max-width: 1000px;
	text-align: center;
}

.examples_container .innerExamples_container h1 {
	margin-bottom: 2rem;
}
/* ==================== EXAMPLE STYLING END ==================== */

/* ==================== EXAMPLE CARD STYLING START ==================== */
.example_card {
	margin-bottom: 2.5rem;
}
.example_card img {
	width: 100%;
	box-shadow: 1px 1px 20px #e9e9e9;
	border: 1px solid #ebebeb;
}

.example_card h2 {
	background-color: #ffffff;
	padding: 1rem 0rem;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 1px 1px 20px #e9e9e9;
	border: 1px solid #ebebeb;
	border-top: none;
}
/* ==================== EXAMPLE CARD STYLING END ==================== */

/* ==================== START UP STYLING START ==================== */
.startUp_container {
	background-color: #f0f0f0;
}

.startUp_container .innerStartUp_container {
	margin: auto;
	padding: 10rem 0px;
	max-width: 1000px;
}

.startUp_container .innerStartUp_container h1 {
	text-align: center;
}

.startUp_container .innerStartUp_container h5 {
	font-size: 1.5rem;
	color: var(--lightParagraph);
}

.startUp_container .innerStartUp_container .startUp_body {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	width: 100%;
}

.startUp_container .innerStartUp_container .startUp_body div:nth-child(1) {
	margin-right: 2rem;
}

.startUp_container .innerStartUp_container .startUp_body div:nth-child(1),
.startUp_container .innerStartUp_container .startUp_body div:nth-child(2) {
	width: 50%;
}

.startUp_container .innerStartUp_container .startUp_body div:nth-child(2) img {
	width: 95%;
}

/* ==================== START UP STYLING END ==================== */

/* ==================== DELIVERY SLIDER STYLING START ==================== */
.deliverySlider_conatiner {
	/* background-image: url(./assets/deliveryBg.svg); */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./assets/images/deliveryImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10rem 0rem;
	text-align: center;
	color: #fff;
}

.deliverySlider_conatiner h1 {
	font-size: 3.2rem;
}

.deliverySlider_conatiner .innerDeliverySlider_conatiner {
	margin: auto;
	max-width: 1000px;
}

.deliverySlider_conatiner
	.innerDeliverySlider_conatiner
	.main_slider_container
	h5 {
	font-size: 1.6rem;
	margin: auto;
	max-width: 600px;
}

.manufacturing_container .main_slider_container {
	text-align: -webkit-center;
	width: 100%;
	margin: auto;
	max-width: 1000px;
}
/* ==================== DELIVERY SLIDER STYLING END ==================== */

/* ==================== OUR WORK STYLING START ==================== */
.ourWork_container {
	text-align: center;
	margin: auto;
	padding: 15rem 0rem;
	max-width: 1000px;
}
.ourWork_container h1 {
	font-size: 3rem;
}

.ourWork_container h5 {
	max-width: 900px;
	font-size: 1.5rem;
	margin: auto;
}
/* ==================== OUR WORK STYLING END ==================== */

/* ==================== WORK CARD STYLING START ==================== */
.work_card {
	margin-bottom: 3rem;
}
.work_card img {
	width: 100%;
}
/* ==================== WORK CARD STYLING END ==================== */

/* ==================== WHY CHOOSE US STYLING START ==================== */
.WCU_container {
	text-align: center;
	margin: auto;
	padding: 15rem 0rem 10rem 0rem;
	max-width: 1000px;
}

.WCU_container h1 {
	font-size: 3rem;
}
/* ==================== WHY CHOOSE US STYLING END ==================== */

/* ==================== CHOOSE card STYLING START ==================== */
.choose_card img {
	height: 7rem;
	width: auto;
}
.choose_card h5 {
	width: 95%;
	margin: auto;
}
/* ==================== CHOOSE card STYLING END ==================== */

/* ==================== CONTACT STYLING START ==================== */

.contact_container {
	background-color: #f0f0f0;
}

.contact_container .innerContact_container {
	margin: auto;
	padding: 10rem 0rem;
	max-width: 1000px;
}

.contact_container h1 {
	font-size: 3rem;
	text-align: center;
}

.contact_container h5 {
	max-width: 600px;
}

.contact_container .sub_Heading {
	font-size: 1.6rem;
	margin: auto;
	text-align: center;
	max-width: 600px;
}

.contact_container .left_side h3 {
	font-size: 2.2rem;
}

.contact_container .left_side input {
	padding: 0.7rem 1rem;
	font-size: 1.6rem;
	border-radius: 20px;
	border: none;
	outline: none;
	width: 100%;
}

.contact_container .left_side textarea {
	padding: 1rem 1rem;
	font-size: 1.6rem;
	border-radius: 20px;
	border: none;
	outline: none;
	width: 100%;
}
.contact_container .left_side button {
	padding: 0.8rem 1rem;
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 1.6rem;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #7ecc3c;
}

.contact_container .right_side h5 {
	text-align: start;
	font-size: 1.4rem;
}

.contact_container .right_side .logo2 {
	height: 4rem;
}

.contact_container .right_side .innerRight_side img {
	padding-right: 1rem;
	border-right: 2px solid #ccc;
}

.contact_container .right_side .innerRight_side div span:nth-child(2) {
	padding-left: 1rem;
	font-size: 1.4rem;
}
/* ==================== CONTACT STYLING END ==================== */

/* ==================== FOOTER STYLING START ==================== */
.footer_container {
	padding: 8rem 0rem;
	background-color: #404748;
	color: #fff;
}

.innerFooter_container {
	margin: auto;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.innerFooter_container .left_side {
	width: 30%;
}

.innerFooter_container .left_side .logo {
	height: 3.5rem;
}

.innerFooter_container .left_side h5 {
	font-size: 1.3rem;
	line-height: 1.8rem;
	word-spacing: 0.4rem;
}

.innerFooter_container .right_side {
	margin-left: 5rem;
	width: 70%;
}

.innerFooter_container .right_side h3 {
	font-size: 1.6rem;
}

.innerFooter_container .right_side ul li {
	list-style: none;
	font-size: 1.3rem;
	line-height: 2rem;
}
/* ==================== FOOTER STYLING END ==================== */

/* ==================== EXAMPLES APPLICATION STYLING START ==================== */
.application_container {
	background: url(./assets/exampleBg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 16rem 0rem;
}

.application_container .innerApplication_container {
	margin: auto;
	max-width: 1000px;
}

.application_container h1 {
	text-align: center;
	font-size: 3rem;
	color: #fff;
}

.application_container .innerApplication_container .application_card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.application_container .innerApplication_container .application_card img {
	height: 4.2rem;
	margin-right: 1.3rem;
}

.application_container
	.innerApplication_container
	.application_card
	.applicationCard_body
	h3 {
	color: white;
	font-size: 1.9rem;
}

.application_container
	.innerApplication_container
	.application_card
	.applicationCard_body
	h5 {
	color: var(--lightParagraph);
	font-size: 1.4rem;
	line-height: 2rem;
}

.application_container
	.innerApplication_container
	.application_card
	.applicationCard_body
	button {
	font-size: 1.5rem;
	background: transparent;
	border: none;
	outline: none;
	color: var(--themeColor);
}

/* ==================== EXAMPLES APPLICATION STYLING END ==================== */

/* ==================== MATERIAL SECTION STYLING START ==================== */
.materialCard_heading {
	border-top: 7px solid var(--themeColor);
	border-left: 7px solid var(--themeColor);
	padding-left: 4px;
}

.material_container {
	margin: auto;
	max-width: 1000px;
	padding: 12rem 0rem 0rem 0rem;
}

.material_container h1 {
	font-size: 3rem;
	text-align: center;
}

.material_container h5 {
	text-align: center;
	font-size: 1.5rem;
}

.material_container .materialCard img {
	width: 100%;
}

.material_container .materialCard {
	margin: 6rem 0rem;
}

.material_container .materialCard .materialCard_text {
	margin-left: 2rem;
}

.material_container .materialCard h3 {
	font-size: 2.2rem;
}

.materialDot {
	color: var(--themeColor);
	font-size: 1.8rem;
}
/* ==================== MATERIAL SECTION STYLING END ==================== */

/* ==================== MEDIA QUERIES START ==================== */
@media screen and (max-width: 1100px) {
	.about_container,
	.service_container h5,
	.manufacturing_container h1,
	.manufacturing_container h5,
	.deliveryDetails_container,
	.innerApplication_container,
	.innerStartUp_container,
	.material_container,
	.ourWork_container h1,
	.ourWork_container h5,
	.WCU_container,
	.innerContact_container,
	.innerFooter_container {
		padding-left: 2.2rem !important;
		padding-right: 2.2rem !important;
	}
	.material_container .materialCard .materialCard_text {
		margin-left: 0rem;
	}

	.about_container {
		padding: 10rem;
	}

	.service_container,
	.manufacturing_container {
		padding-bottom: 16rem;
	}

	.deliveryDetails_container {
		padding-bottom: 10rem;
	}
}

@media screen and (max-width: 1100px) {
	.main_slider_container {
		padding: 0rem 6rem;
	}
}

@media screen and (max-width: 850px) {
	.about_container {
		display: flex;
		flex-direction: column;
	}

	.about_container .rightSide_text {
		width: 100%;
		margin-bottom: 5rem;
	}

	.about_container .about_img {
		width: 60%;
		margin: auto;
	}
}

@media screen and (max-width: 750px) {
	.startUp_container .innerStartUp_container .startUp_body {
		display: flex;
		flex-direction: column;
	}

	.startUp_container .innerStartUp_container .startUp_body div:nth-child(1) {
		width: 100%;
		padding-left: 2rem;
	}

	.startUp_container .innerStartUp_container .startUp_body div:nth-child(2) {
		width: 100%;
		margin: auto;
		margin: 5rem 0rem 0rem 2rem;
	}

	.deliveryDetails_container {
		display: flex;
		flex-direction: column;
	}

	.deliveryDetails_container .left_side,
	.deliveryDetails_container .right_side {
		width: 95%;
		margin: auto;
	}

	.deliveryDetails_container .right_side {
		margin-top: 4rem;
	}
}

@media screen and (max-width: 1000px) {
	.innerFooter_container {
		display: flex;
		flex-direction: column;
	}

	.innerFooter_container .left_side {
		width: 90%;
		margin: auto;
	}

	.innerFooter_container .right_side {
		margin-top: 6rem;
		width: 100%;
		margin-left: 2.2rem;
	}
}

@media screen and (max-width: 575px) {
	.material_container .materialCard {
		margin: 0px;
	}

	.material_container .materialCard img {
		width: 50%;
	}

	.material_container .materialCardImg {
		display: flex;
		justify-content: flex-end;
	}

	.home_container .home_body .home_body_inner {
		padding: 0rem 2rem;
	}
}
/* ==================== MEDIA QUERIES END ==================== */

/* ==================== ANIMATIONS START ==================== */
@-webkit-keyframes swing-in-top-fwd {
	0% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}
@keyframes swing-in-top-fwd {
	0% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}

@-webkit-keyframes scale-up-hor-center {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes scale-up-hor-center {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ==================== ANIMATIONS END ==================== */
